<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="questionRepository" class="ru.yegorpilipenko.otus.spring.m1h1.repository.QuestionCsvRepository">
        <constructor-arg value="classpath:csv/questions.csv"/>
    </bean>

    <bean id="examinerService" class="ru.yegorpilipenko.otus.spring.m1h1.service.ExaminerServiceImpl">
        <constructor-arg ref="questionRepository"/>
    </bean>

    <bean id="examinerController"
          class="ru.yegorpilipenko.otus.spring.m1h1.controller.ExaminerController"
          init-method="show">
        <constructor-arg ref="examinerService"/>
    </bean>
</beans>
